/* <--------> GENERAL <--------> */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--bg-secondary);
  padding: 0 2rem;
  height: 8vh;
  border-bottom: 1px solid #aaaaaa9c;
  position: fixed;
  z-index: 999;
}

.logo h1 {
  margin: 0;
  color: var(--primary-color);
  font-size: 1.5rem;
  text-transform: uppercase;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.372);
}

.informations {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
}

.informations a {
  text-decoration: none;
  color: var(--primary-color);
  margin-right: 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
}

.informations a:active:hover {
  text-decoration: none;
  color: aliceblue;
}

.ico {
  font-size: 1.2rem;
  margin-right: 1rem;
  cursor: pointer;
}

/* <--------> MOBILE <--------> */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    padding: 0 1rem;
  }
  .informations {
    display: none;
  }

  .logo h1 {
    font-size: 1.4rem;
  }
}
/* <--------> TABLET <--------> */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .header {
    padding: 0 1rem;
  }

  .informations a,
  .ico {
    font-size: 1rem;
  }
}

/* <--------> COMPUTER <--------> */

@media only screen and (min-width: 1024px) {
  .header {
    padding: 0 15rem;
  }
}
