body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{

  --bg-primary:#E8652E;
  --bg-secondary: #820707;
  --primary-color: #FFEBB7;
  --secondary-color:black;
  --text:#E2A403;
}